.container{
    margin: 0 15%;
    color: #333333;
}
.meetups > li{
    list-style: none;
    margin-bottom: 25px;
    color: #333333;
}
.meetup{
    background-color: #ffffff;
    box-shadow: 5px 5px 25px black;
    padding: 25px;
}
.meetup > h2{
    text-align: center;
    margin-bottom: 10px;
}
hr{
    margin: 10px 0;
}
.description p{
    font-size: 1.5em;
}
.aside{
    background-color: #333333;
    flex: 1;
    position: relative;
}
.aside h2{
    text-align: center;
    color: #ffffff;
}
.side-info{
    color: #ffffff;
    font-size: 1.2em;
}
.side-info a{
    color: #333333;
    text-decoration: none;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 10px;
}
.side-info li{
    padding: 17px;
}
.btn{
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.btn:focus{
    outline: 0;
}
.btn:active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.horizontalMargin{
    margin-top: 17px;
    margin-bottom: 17px;
}
.highlight{
    background-color: #dddddd;
    color: #333333;
    text-decoration: none;
}

.page{
    display: flex;
}
.page main{
    flex: 3;
}
.form-container button{
    font-size: 1.5em;
}
.form-container h1, .form-container h2{
    /*color: #ffffff;*/
    color: #333333;
}
.form-container{
    position: relative;
    height: 40vh;
}
.question-field-container{
    background-color: #dddddd;
    color: #333333;
    border-radius: 10px;
    margin: 17px 0;
}
.question-field-container textarea{
    width: 100%;
    min-height: 20vh;
    font-size: 2em;
    font-family: "David Libre", serif;
    padding: 17px;
    background-color: transparent;
    border: none;
}
.question-field-container textarea:focus, .question-field-container input:focus{
    outline: 0;
}
.question-field-container input{
    /*background-color: transparent;*/
    font-size: 1.2em;
    font-family: "David Libre", serif;
    width: 100%;
    padding: 17px;
    background-color: transparent;
    border: none;
}
.date-field-container{
    width: 50%;
}
.question-field-container input[name="date"]{
    width: 60%;
    padding: 5px;
    /*background-color: red;*/
    /*height: 30px;*/
}
.question-field-container .date-label{
    width: 20%;
}
.date-label{
    margin-left: 17px;
}
.tag{
    background-color: #dddddd;
    border-radius: 10px;
    padding: 5px;
}
.tag-form{
    position: absolute;
    display: none;
    margin-top: 10px;
    background-color: #2b7379;
    top: 25px;
    opacity: 0;
    transition: opacity 500ms;
}
.tag-form form{
    display: flex;
    flex-wrap: wrap;
}
.tag-form form > * {
    flex: 1;
    padding: 5px;
    background-color: #112f3b;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 5px;
}
.tag-form form > input[type="submit"]{
    background-color: #dddddd;
    color: #333333;
}
.show-tag-form{
    display: block;
    opacity: 1;
    animation: tag-slide-in 500ms;

}
.users-container{
    position: fixed;
    background-color: rgba(0,0,0,0.58);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.users-container > div{
    background-color: #112f3b;
    padding: 17px;
    max-height: 80%;
    overflow: auto;
}
.users-container h2{
    text-align: center;
    color: #dddddd;
}
.users-container div li{
    list-style-type: none;
    margin-top: 17px;
    padding: 17px;
    color: #333333;
    background-color: #dddddd;
}
.show-users{
    display: flex;
}
.questions-container {
    position: fixed;
    background-color: rgba(0,0,0,0.58);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    top: 0;
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;
}
.show-questions {
    display: flex;
    opacity: 1;
}
.questions h2{
    text-align: center;
    color: #dddddd;
}
.questions li{
    cursor: pointer;
    position: relative;
}
.questions li:hover::before{
    content: 'click to see comments';
    background-color: #112f3b;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.5em;
}
.active-question{
    border: 2px solid #dddddd;
}
.questions-comments{
    flex: 1;
    display: flex;
    background-color: #112f3b;
    width: 70%;
    max-height: 70vh;
}
.questions, .comments{
    margin: 17px;
    flex: 1;
    overflow: auto;
}
.comments{
    background-color: #dddddd;
}
.questions li{
    text-align: center;
    color: #dddddd;
}
.comments h2{
    color: #333333;
    text-align: center;
    padding-top: 17px;
}
.questions li, .comments li{
    list-style-type: none;
    margin: 17px;
    padding: 17px;
    background-color: rgba(17,99,94,0.58);
}
.comments li{
    border-radius: 10px;
}
@keyframes tag-slide-in {
    0%{
        top: -100px;
    }
    100%{
        top: 25px;
    }
}
@media (min-width: 845px) {
    .users-container > div {
        transform: translateX(50%);
    }
}
