.container{
    margin: 0 15%;
}
.questions-section > li{
    list-style: none;
    margin-bottom: 25px;
    color: #333333;
}
.meetup{
    background-color: #ffffff;
    box-shadow: 5px 5px 25px black;
    padding: 25px;
}
.meetup > h2{
    text-align: center;
    margin-bottom: 10px;
}
hr{
    margin: 10px 0;
}
.description p{
    font-size: 1.5em;
}
.aside{
    background-color: #333333;
    flex: 1;
    position: relative;
}
.aside h2{
    text-align: center;
    color: #ffffff;
}
.side-info{
    color: #ffffff;
    font-size: 1.2em;
}
.side-info a{
    color: #333333;
    text-decoration: none;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 10px;
}
.side-info li{
    padding: 17px;
}
.btn{
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.btn:focus{
    outline: 0;
}
.btn:active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.horizontalMargin{
    margin-top: 17px;
    margin-bottom: 17px;
}
.highlight{
    background-color: #dddddd;
    color: #333333;
    text-decoration: none;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    padding-top: 100px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page{
    display: flex;
}
.page main{
    flex: 3;
}
.top-questions li{
    list-style: none;
    margin: 17px;
    padding: 17px;
    background-color: #dddddd;
    line-height: 2em;
}

@media screen and (max-width: 845px){

    .page {
        flex-direction: column;
    }
    .aside{
        position: relative;
    }
    .fixed{
        position: inherit;
        background-color: transparent;
        width: inherit;
        height: 60vh;
        text-align: center;
    }
    body{
        margin-top: 0;
    }
    .questions-section{
        margin-top: 17px;
    }
}