*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 100px;
    /*background-color: #676767;*/
    background-color: #6bbab5;
}
.footer{
    color: #dddddd;
    text-align: center;
    margin-bottom: 17px;
}

nav{
    /*background-color: #cccccc;*/
    background-color: #2b7379;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px #131313;
    z-index: 10;
}

nav > a{
    margin: 10px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    /*transform: rotateZ(-15deg);*/
    transform: rotate3d(0, 0, 0, -10deg);
    color: #ffffff;
    border-right: solid 2px #ffffff;
    border-left: solid 2px #ffffff;
    border-radius: 5px;
}
nav > ul{
    margin: auto 10% auto 20px;
    display: flex;

}
nav li{
    list-style: none;
    position: relative;
}
nav  button{
    position: relative;
    background-color: transparent;
    color: white;
    border: none;
    padding-top: 0;
    padding-bottom: 10px;
}
nav button:focus{
    outline: none;
}
nav ul a {
    color: #ffffff;
    text-decoration: none;
    margin: 17px;
    padding-bottom: 10px;
}
nav ul a:hover, nav ul button:hover{
    border-bottom: 1px solid #ffffff;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    padding-top: 100px;
    background-color: #112f3b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.horizontalMargin{
    margin-top: 17px;
    margin-bottom: 17px;
}
.highlight{
    background-color: #dddddd;
    color: #333333;
    text-decoration: none;
    margin: 5px 5px 10px;

}

.page{
    display: flex;
    position: relative;
    width: 100%;
}
.page main{
    flex: 3;
}

nav a:hover, nav button:hover {
    text-shadow: 0 0 25px white;
}
.aside{
    flex: 1;
    position: relative;
}
.aside h2{
    text-align: center;
    color: #ffffff;
}
.side-info{
    color: #ffffff;
    font-size: 1.2em;
}
.side-info a{
    color: #333333;
    text-decoration: none;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 10px;
}
.side-info li{
    padding: 17px;
}
.btn{
    padding: 5px;
    margin: 5px 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.btn:focus{
    outline: 0;
}
.btn:active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


@media screen and (min-width: 845px){
    .fixed{
        height: 100vh;
    }
}
@media screen and (max-width: 845px){

    .page {
        flex-direction: column;
        /*align-items: center;*/
        justify-content: center;
    }
    .aside{
        position: relative;
    }
    .fixed{
        position: inherit;
        width: inherit;
        flex-basis: 60vh;
        text-align: center;
    }
    body{
        margin-top: 0;
    }
    .questions-section{
        margin-top: 17px;
    }
}
